<div class="container">
    <h1>Player List</h1>
    <table class="table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Display Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of players">
                <td><img src="{{ player.image }}" class="img-responsive img-rounded" alt="" /></td>
                <td>{{ player.displayName }}</td>
                <td><a [routerLink]="['/player-detail', player.id]">Show Detail</a></td>
            </tr>
        </tbody>
    </table>
    <h1>Player List
        <!-- <a [routerLink]="['/player-create']" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a> -->
    </h1>
</div>