<div class="container">
    <form (ngSubmit)="updatePlayer(player.id,player)" #playerForm="ngForm">
        <!-- first row -->
        <div class="form-row">
            <div class="form-group col-md-4">
                <h2>Edit Player</h2>
                <label for="playername">Name</label>
                <input type="text" class="form-control" id="playername" [ngModel]="player?.displayName" (ngModelChange)="player.displayName=$event" placeholder="name" name="playername">
            </div>
            <div class="form-group col-md-4">
                <h2>Points</h2>
                <label for="displayName">Name</label>
                <input type="text" class="form-control" id="displayName" [ngModel]="player?.units?.points?.displayName" (ngModelChange)="player.units.points.displayName=$event" placeholder="name" name="displayName">
            </div>
            <div *ngIf="player?.units?.unitGold != null " class="form-group col-md-4">
                <h2>{{ player?.units?.unitGold?.name }}</h2>
                <label for="goldAll">All</label>
                <input type="text" class="form-control" id="goldAll" [ngModel]="player?.units?.unitGold?.all" (ngModelChange)="player.units.unitGold.all=$event" placeholder="All" name="goldAll">
            </div>
            <div *ngIf="player?.units?.unitGold == null " class="form-group col-md-4" style="visibility: hidden;">
                <h2>Points</h2>
                <label for="displayName">Name</label>
                <input type="text" class="form-control" id="displayName" [ngModel]="player?.units?.points?.displayName" (ngModelChange)="player.units.points.displayName=$event" placeholder="name" name="displayName">
            </div>
        </div>
        <!-- second row-->
        <div class="form-row">
            <!--div class="form-group col-md-4">
                    <img src="{{player?.image}}" alt="">
                </div> -->
            <!-- hidden row -->
            <div class="form-group col-md-4" style="visibility: hidden;">
                <label for="all">Hidden</label>
                <input type="text" class="form-control" id="all" [ngModel]="player?.units?.points?.all" (ngModelChange)="player.units.points.all=$event" placeholder="all" name="all">
            </div>
            <div class="form-group col-md-4">
                <label for="all">All</label>
                <input type="text" class="form-control" id="all" [ngModel]="player?.units?.points?.all" (ngModelChange)="player.units.points.all=$event" placeholder="all" name="all">
            </div>
            <div *ngIf="player?.units?.unitGold != null " class="form-group col-md-4">
                <label for="goldOrder">Order</label>
                <input type="text" class="form-control" id="goldOrder" [ngModel]="player?.units?.unitGold?.order" (ngModelChange)="player.units.unitGold.order=$event" placeholder="order" name="goldOrder">
            </div>
            <!-- hidden row -->
            <div *ngIf="player?.units?.unitGold == null " class="form-group col-md-4" style="visibility: hidden;">
                <label for="all">Hidden</label>
                <input type="text" class="form-control" id="all" [ngModel]="player?.units?.points?.all" (ngModelChange)="player.units.points.all=$event" placeholder="all" name="all">
            </div>
        </div>
        <!-- third row -->
        <div class="form-row">
            <!-- hidden row -->
            <div class="form-group col-md-4" style="visibility: hidden;">
                <label for="all">Hidden</label>
                <input type="text" class="form-control" id="all" [ngModel]="player?.units?.points?.all" (ngModelChange)="player.units.points.all=$event" placeholder="all" name="all">
            </div>
            <div class="form-group col-md-4">
                <label for="year">Year</label>
                <input type="text" class="form-control" id="year" [ngModel]="player?.units?.points?.year" (ngModelChange)="player.units.points.year=$event" placeholder="year" name="year">
            </div>
            <div *ngIf="player?.units?.unitGold != null " class="form-group col-md-4">
                <label for="goldType">Type</label>
                <input type="text" class="form-control" id="goldType" [ngModel]="player?.units?.unitGold?.type" (ngModelChange)="player.units.unitGold.type=$event" placeholder="type" name="goldType">
            </div>
            <!-- hidden row -->
            <div *ngIf="player?.units?.unitGold == null " class="form-group col-md-4" style="visibility: hidden;">
                <label for="goldType">Type</label>
                <input type="text" class="form-control" id="goldType" [ngModel]="player?.units?.unitGold?.type" (ngModelChange)="player.units.unitGold.type=$event" placeholder="type" name="goldType">
            </div>
        </div>
        <!-- forth row -->
        <div class="form-row">
            <!-- hidden row -->
            <div class="form-group col-md-4" style="visibility: hidden;">
                <label for="all">Hidden</label>
                <input type="text" class="form-control" id="all" [ngModel]="player?.units?.points?.all" (ngModelChange)="player.units.points.all=$event" placeholder="all" name="all">
            </div>
            <div class="form-group col-md-4">
                <label for="month">Month</label>
                <input type="text" class="form-control" id="month" [ngModel]="player?.units?.points?.month" (ngModelChange)="player.units.points.month=$event" placeholder="month" name="month">
            </div>
            <div *ngIf="player?.units?.unitGold != null " class="form-group col-md-4">
                <label for="goldAbr">Abbreviation</label>
                <input type="text" class="form-control" id="goldAbr" [ngModel]="player?.units?.unitGold?.abbreviation" (ngModelChange)="player.units.unitGold.abbreviation=$event" placeholder="abbreviation" name="goldAbr">
            </div>
            <!-- hidden row -->
            <div *ngIf="player?.units?.unitGold == null " class="form-group col-md-4" style="visibility: hidden;">
                <label for="goldType">Type</label>
                <input type="text" class="form-control" id="goldType" [ngModel]="player?.units?.unitGold?.type" (ngModelChange)="player.units.unitGold.type=$event" placeholder="type" name="goldType">
            </div>
        </div>
        <!-- fifth row -->
        <div class="form-row">
            <!-- hidden row -->
            <div class="form-group col-md-4" style="visibility: hidden;">
                <label for="all">Hidden</label>
                <input type="text" class="form-control" id="all" [ngModel]="player?.units?.points?.all" (ngModelChange)="player.units.points.all=$event" placeholder="all" name="all">
            </div>
            <div class="form-group col-md-4">
                <label for="week">Week</label>
                <input type="text" class="form-control" id="week" [ngModel]="player?.units?.points?.week" (ngModelChange)="player.units.points.week=$event" placeholder="week" name="week">
            </div>
            <!-- hidden row -->
            <div class="form-group col-md-4" style="visibility: hidden;">
                <label for="all">Hidden</label>
                <input type="text" class="form-control" id="all" [ngModel]="player?.units?.points?.all" (ngModelChange)="player.units.points.all=$event" placeholder="all" name="all">
            </div>
        </div>

        <div class="form-row">
            <!-- hidden row -->
            <div class="form-group col-md-4" style="visibility: hidden;">
                <label for="all">Hidden</label>
                <input type="text" class="form-control" id="all" [ngModel]="player?.units?.points?.all" (ngModelChange)="player.units.points.all=$event" placeholder="all" name="all">
            </div>

            <div class="form-group col-md-4">
                <label for="day">Day</label>
                <input type="text" class="form-control" id="day" [ngModel]="player?.units?.points?.day" (ngModelChange)="player.units.points.day=$event" placeholder="day" name="day">
            </div>
            <!-- hidden row -->
            <div class="form-group col-md-4" style="visibility: hidden;">
                <label for="all">Hidden</label>
                <input type="text" class="form-control" id="all" [ngModel]="player?.units?.points?.all" (ngModelChange)="player.units.points.all=$event" placeholder="all" name="all">
            </div>

        </div>
        <!-- seventh form-row -->
        <div class="form-row">
            <!-- hidden row -->
            <div class="form-group col-md-4" style="visibility: hidden;">
                <label for="all">Hidden</label>
                <input type="text" class="form-control" id="all" [ngModel]="player?.units?.points?.all" (ngModelChange)="player.units.points.all=$event" placeholder="all" name="all">
            </div>
            <div class="form-group col-md-4">
                <label for="abbrevation">Abbrevation</label>
                <input type="text" class="form-control" id="abbrevation" [ngModel]="player?.units?.points?.abbrevation" (ngModelChange)="player.units.points.abbrevation=$event" placeholder="abbrevation" name="abbrevation">
            </div>
            <div class="form-group col-md-4" style="visibility: hidden;">
                <label for="all">Hidden</label>
                <input type="text" class="form-control" id="all" [ngModel]="player?.units?.points?.all" (ngModelChange)="player.units.points.all=$event" placeholder="all" name="all">
            </div>
        </div>
        <!-- button form-row -->
        <div class="form-row">
            <!-- hidden row -->
            <div class="form-group col-md-4" style="visibility: hidden;">
                <label for="all">Hidden</label>
                <input type="text" class="form-control" id="all" [ngModel]="player?.units?.points?.all" (ngModelChange)="player.units.points.all=$event" placeholder="all" name="all">
            </div>
            <div class="form-group col-md-4" style="visibility: hidden;">
                <label for="all">Hidden</label>
                <input type="text" class="form-control" id="all" [ngModel]="player?.units?.points?.all" (ngModelChange)="player.units.points.all=$event" placeholder="all" name="all">
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!playerForm.form.valid">Update</button>
        </div>

    </form>
</div>