<div class="container">
    <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">

            <br>
            <p class=" text-info">May 05,2014,03:00 pm </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ player?.displayName }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{player.image}}" class="img-circle img-responsive"> </div>

                        <div class=" col-md-9 col-lg-9 ">
                            <h2>Points</h2>
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Display name</td>
                                        <td>{{ player?.units?.points?.displayName }}</td>
                                    </tr>
                                    <tr>
                                        <td>All</td>
                                        <td>{{ player?.units?.points?.all }}</td>
                                    </tr>
                                    <tr>
                                        <td>Year</td>
                                        <td>{{ player?.units?.points?.year }}</td>
                                    </tr>
                                    <tr>
                                        <td>Month</td>
                                        <td>{{ player?.units?.points?.month }}</td>
                                    </tr>
                                    <tr>
                                        <td>Week</td>
                                        <td>{{ player?.units?.points?.week }}</td>
                                    </tr>
                                    <tr>
                                        <td>Day</td>
                                        <td>{{ player?.units?.points?.day }}</td>
                                    </tr>
                                    <tr>
                                        <td>Abbreviation</td>
                                        <td>{{ player?.units?.points?.abbrevation }}</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                        <div *ngIf="player?.units?.unitGold != null" class=" col-md-9 col-lg-9 ">
                            <h2>{{ player?.units?.unitGold?.name }}</h2>
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>All</td>
                                        <td>{{ player?.units?.unitGold?.displayName }}</td>
                                    </tr>
                                    <tr>
                                        <td>Order</td>
                                        <td>{{ player?.units?.unitGold?.order }}</td>
                                    </tr>
                                    <tr>
                                        <td>Type</td>
                                        <td>{{player?.units?.unitGold?.type }}</td>
                                    </tr>
                                    <tr>
                                        <td>Abbreviation</td>
                                        <td>{{ player?.units?.unitGold?.abbreviation }}</td>
                                    </tr>


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="panel-footer">

                    <span class="pull-right">
                          <a [routerLink]="['/player-edit', player.id]"  data-original-title="Edit this player" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                          <a (click)="deletePlayer(player.id)" data-original-title="Remove this player" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                      </span>
                </div>

            </div>
        </div>
    </div>
</div>